@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300&display=swap");

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* body {
  background-image: url(../public/bg.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
} */

.custom-bg {
  background-image: url("/bg2.png");
  /* background-image: url("/bg1.png"), url("/bg2.png"); */
  /* background-position: left, right; */
  /* background-size: 50% 100%, 50% 100%; */
  /* border: 5px solid #191919; */
  background-repeat: no-repeat;
}
body {
  height: 100%;
  overflow-y: hidden;
}
/* media query for mobile screens */
@media (max-width: 768px) {
  .custom-bg {
    background-image: url("/bg2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* background-color: #000; */
    /* background-opacity: 0.5; */
  }

  body {
    height: 100%;
    overflow-y: scroll;
  }
}

.swiper {
  width: 100%;
  height: 85vh !important;
  background: #000;
  overflow-y: visible;
}

.swiper-slide {
  font-size: 18px;
  color: #fff;
  height: 75vh !important;

  box-sizing: border-box;
  padding: 40px 60px;
}

.swiper-pagination {
  background-color: #191919 !important;
  height: 50% !important;
  display: flex !important; /* Use flexbox to center children */
  align-items: center !important; /* This centers children vertically */
  justify-content: center !important; /* This centers children horizontally, if needed */
  flex-direction: column !important; /* Arranges children in a column */
  right: -1px !important;
  padding: 20px;
  border-radius: 5px 0px 0px 5px;
}
.swiper-pagination-bullet {
  background-color: #ffffff !important;
  border: 2px solid #ffffff !important;

  /* padding: 1px !important; */
  border-radius: 100px !important;
  /* padding-left: 5px !important; */
  /* width: 30px !important; */
  /* height: 1px !important; */
  /* padding-right: 5px !important; */
}

.hover-underline-animation {
  position: relative;
  color: #ffffff;
  text-decoration: none;
}
.hover-underline-animation:hover::after {
  transform-origin: bottom left;
}
.hover-underline-animation:hover::after {
  transform: scaleX(1);
}
.hover-underline-animation::after {
  transform: scaleX(0);
}
.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.swiper-slide .title {
  font-size: 41px;
  font-weight: 300;
}

.swiper-slide .subtitle {
  font-size: 21px;
}

.swiper-slide .text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
}

.gradient-text {
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 1) 10%,
    rgba(255, 255, 255, 0.3) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  line-height: 1;
  color: transparent;
}

.moon-container {
  position: relative;
  width: 100%;
  height: 90px; /* Adjust this height as needed */
  overflow: visible;
}

.moon-section {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 90px; /* Adjust this height as needed */
  z-index: 1;
}

.moon-image {
  position: absolute;
  /* Half of the moon image height */
  left: 50%;
  transform: translateX(-50%);
  width: 180px; /* Adjust width as needed */
  height: 180px; /* Adjust height as needed */
  z-index: -1;
}

.moorti-1 {
  margin-top: -2rem;
  margin-left: -4rem;
  position: relative;
  opacity: 0;
  animation: fadeIn 3s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.moorti-2 {
  position: relative;
  opacity: 0;
  animation: fadeIn 3s ease forwards;
}

.button-hover-fill {
  position: relative;
  overflow: hidden;
  background: transparent;
  transition: background-color 0.3s ease;
}

.button-hover-fill::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: white;
  transition: width 0.5s ease;
  z-index: 0;
}

.button-hover-fill:hover::before {
  width: 100%;
}

.button-hover-fill:hover {
  color: black !important;
}
